@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@layer utilities   {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Inter", sans-serif;
  }
}
